<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Durvah | Service</title>
    <link rel="stylesheet" href="../public/css/service.css" />
    <link rel="icon" href="../assets/durvah-logo.png" />
    <!--Boxicons icon link-->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Unicons CSS -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!-- Linking Google fonts for icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <!--font awsome icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="loader"></div>
    <nav class="nav">
      <i class="uil uil-bars navOpenBtn"></i>
      <a href="/" class="logo"
        ><img src="../assets/durvah-logo.png" alt="" width="90" height="90"
      /></a>

      <ul class="nav-links">
        <i class="uil uil-times navCloseBtn"></i>
        <li><a href="/">Home</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>

      <i class="uil uil-search search-icon" id="searchIcon"></i>
      <div class="search-box">
        <i class="uil uil-search search-icon"></i>
        <input type="text" placeholder="Search here..." />
      </div>
    </nav>
    <main>
      <section class="section2">
        <div class="hero">
          <video autoplay loop muted plays-inline class="back-video">
            <source src="../assets/video (2).mp4" type="video/mp4" />
          </video>
          <!-- <div class="content">
                <h1>california</h1>
                <a href="#">Explore</a>
              </div> -->
          <div class="content overlay">
            <div class="content-p">
              <p>what we do</p>
            </div>
            <div class="content-h1">
              <h1>Transforming businesses through technology.</h1>
            </div>
            <div class="section1-btn">
              <a href="">
                let's talk <i class="fa-solid fa-circle-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="section3">
        <div class="section3-container">
          <div class="section3-container-1">
            <div class="section3-heading">
              <h2>Belief Powers Business</h2>
            </div>
            <div class="section3-paragraph">
              <p>
                At TCS, we go beyond helping businesses transform through
                technology. We help them make a meaningful difference; to their
                customers, and to the communities they serve.
              </p>
            </div>
          </div>
          <div class="section3-container-2">
            <img
              src="https://s7ap1.scene7.com/is/image/TCSCOMprod/What-we-do-1?wid=1000&hei=563&dpr=off"
              alt=""
              width="100%"
            />
          </div>
        </div>
      </section>
      <section class="section4">
        <div class="section4-container">
          <div class="section4-heading">
            <h3>Select your industry. Discover our impact.</h3>
          </div>
          <div class="section4-row">
            <div class="section4-row1">
              <a href="">
                <p>
                  <i class="fa-solid fa-circle-dollar-to-slot"></i> Banking
                </p></a
              >

              <a href=""
                ><p>
                  <i class="fa-solid fa-satellite-dish"></i>
                  Communications, Media, and Information Services
                </p></a
              >
              <a href=""
                ><p><i class="fa-solid fa-graduation-cap"></i>Education</p></a
              >
              <a href=""
                ><p>
                  <i class="fa-solid fa-house-chimney-medical"></i>Healthcare
                </p></a
              >
              <a href="">
                <p>
                  <i class="fa-solid fa-circle-dollar-to-slot"></i> Insurance
                </p></a
              >
              <a href=""
                ><p><i class="fa-solid fa-industry"></i>Manufacturing</p></a
              >
              <a href=""
                ><p><i class="fa-solid fa-cart-shopping"></i>Retail</p></a
              >
            </div>
            <div class="section4-row2">
              <a href=""
                ><p><i class="fa-solid fa-chart-line"></i>Capital Markets</p></a
              >
              <a href=""
                ><p>
                  <i class="fa-solid fa-cart-shopping"></i>Consumer Goods and
                  Distribution
                </p></a
              >
              <a href=""
                ><p>
                  <i class="fa-solid fa-bolt"></i>Energy,Resources and Utilities
                </p></a
              >
              <a href=""
                ><p><i class="fa-solid fa-tower-broadcast"></i>High Tech</p></a
              >
              <a href=""
                ><p><i class="fa-solid fa-dna"></i>Life Science</p></a
              >
              <a href=""
                ><p>
                  <i class="fa-solid fa-hand-holding-heart"></i>Public Services
                </p></a
              >
              <a href=""
                ><p><i class="fa-solid fa-plane"></i> Travel and Logistics</p>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="section5">
        <div class="section5-card-container">
          <h2 class="section5-card-heading">
            Services that transform your business with advanced technologies
          </h2>

          <div class="section5-box-container">
            <div
              class="section5-box"
              style="
                background-image: url('https://www.tcs.com/content/dam/global-tcs/en/images/what-we-do/ai-insights-card-2.png');
              "
            >
              <div class="section5-box-text">
                <a href="#"><h6>Artificial Intelligence</h6></a>
                <a href="#">Know more <i class="fas fa-play"></i></a>
              </div>
            </div>

            <div
              class="section5-box"
              style="
                background-image: url('../assets/cq5dam.thumbnail.640.640.jpeg');
              "
            >
              <div class="section5-box-text">
                <a href="#"><h6>Cloud</h6></a><br />
                <a href="#">Know more <i class="fas fa-play"></i></a>
              </div>
            </div>

            <div
              class="section5-box"
              style="
                background-image: url('https://www.tcs.com/content/dam/global-tcs/en/images/who-we-are/inverstor-relations-poster.png/jcr:content/renditions/cq5dam.thumbnail.640.640.png');
              "
            >
              <div class="section5-box-text">
                <a href="#"><h6>Cognitive Business Operations</h6></a>
                <a href="#">Know more <i class="fas fa-play"></i></a>
              </div>
            </div>

            <div
              class="section5-box"
              style="
                background-image: url('https://www.tcs.com/content/dam/global-tcs/en/images/who-we-are/csr/codevita-Card-1330x1270.jpg/jcr:content/renditions/cq5dam.thumbnail.640.640.jpeg');
              "
            >
              <div class="section5-box-text">
                <a href="#"><h6>Consulting</h6></a><br />
                <a href="#">Know more <i class="fas fa-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section6">
        <div class="section6-card-container">
          <h1 class="section6-card-heading">Belief in action</h1>

          <div class="section6-box-container">
            <div class="section6-box">
              <img
                src="https://cognizant.scene7.com/is/image/cognizant/cognizant-sap-ecosystem-2024?wid=600&amp;fit=wrap"
                aria-label="SAP Ecosystem 2024"
                alt=""
                loading="lazy"
                width="400"
                height="225"
              />

              <a href="#"
                ><p>
                  Equifax UK brings agility and resilience with Google Cloud
                </p></a
              >
              <a href="#" class="icon">Know more <i class="fas fa-play"></i></a>
            </div>

            <div class="section6-box">
              <img
                src="https://cognizant.scene7.com/is/image/cognizant/2-gen-ai?wid=600&amp;fit=wrap"
                aria-label="Salesforce Ecosystem Partners"
                alt=""
                loading="lazy"
                width="400"
                height="225"
              />

              <a href="#"
                ><p>
                  Maersk partners with TCS for end-to-end IoT-based reefer
                  monitoring solution
                </p></a
              >
              <a href="#" class="icon">Know more <i class="fas fa-play"></i></a>
            </div>

            <div class="section6-box">
              <img
                src="https://cognizant.scene7.com/is/image/cognizant/workday-hero-banner-image?wid=600&amp;fit=wrap"
                aria-label="Workday Ecosystem Leader 2023"
                alt=""
                loading="lazy"
                width="400"
                height="225"
              />

              <a href="#"
                ><p>
                  Strengthening Cybersecurity with TCS’ Managed Security
                  Services
                </p></a
              >
              <a href="#" class="icon">Know more <i class="fas fa-play"></i></a>
            </div>

            <div class="section6-box">
              <img
                src="https://cognizant.scene7.com/is/image/cognizant/feat-asset3?wid=600&amp;fit=wrap"
                aria-label="Google Cloud Partner Ecosystem 2023"
                alt=""
                loading="lazy"
                width="400"
                height="225"
              />

              <a href="#"
                ><p>
                  Morrisons Partners with TCS to Transform HR Operations and EX
                </p></a
              >
              <a href="#" class="icon">Know more <i class="fas fa-play"></i></a>
            </div>
          </div>
        </div>
      </section>
      <section class="section7">
        <ul class="accordion">
          <li>
            <input type="radio" name="accordion" id="first" />
            <label for="first">SAP</label>
            <div class="content">
              <img
                src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66be2f2f34f20dbc73b336ea_Image%202-p-800.jpg"
                alt=""
              />
              <div class="section7-btn7">
                <p>
                  Be the new generation ERP evangelist with the core SAP
                  implementation, consultancy services that impart an end-to-end
                  business value to your existing process. Create a highly
                  sustainable and an interconnected system of various business
                  departments that cohesively work to demonstrate effective
                  multi stakeholder-ship leading to ultimate business goals.
                  Achieve an all-time high
                </p>
                <div class="section7-btn">
                  <a href="">
                    Click here <i class="fa-solid fa-circle-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <input type="radio" name="accordion" id="second" />
            <label for="second">Ivalua</label>
            <div class="content">
              <img
                src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
                alt=""
              />
              <div class="section7-btn7">
                <p>
                  Embrace the Leader in Source-To-pay Suites – Ivalua. Achieve
                  100% paperless procurement and account payable processes with
                  tremendous amount of savings. We help customers with rapid
                  deployment and flexible model to digitize procurement
                  processes, manage their spend categories effectively, Improve
                  transparency & Data quality and reduce
                </p>
                <div class="section7-btn">
                  <a href="">
                    Click here<i class="fa-solid fa-circle-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <input type="radio" name="accordion" id="third" />
            <label for="third">Salesforce</label>
            <div class="content">
              <img
                src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
                alt=""
              />
              <div class="section7-btn7">
                <p>
                  Enrich the customer side of your business with the world’s no.
                  1 CRM platform for ultimate reach and business engagements.
                  Our services stand at the crossroad of high-quality finished
                  work of technology, strategy with a customer-centric approach.
                  Achieve
                </p>
                <div class="section7-btn">
                  <a href="">
                    Click here <i class="fa-solid fa-circle-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <input type="radio" name="accordion" id="fourth" />
            <label for="fourth">Mobility</label>
            <div class="content">
              <img
                src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
                alt=""
              />
              <div class="section7-btn7">
                <p>
                  Enter the world of high-performance mobile apps with
                  versatile, highly reliable, and super satisfying mobile
                  application development services by Durvah Consulting. We have
                  a passion for helping businesses go mobile. It lets you
                  increase the market reach for exponentially
                </p>
                <div class="section7-btn">
                  <a href="">
                    Click here <i class="fa-solid fa-circle-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <input type="radio" name="accordion" id="fifth" />
            <label for="fifth">Technologies</label>
            <div class="content">
              <img
                src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
                alt=""
              />
              <div class="section7-btn7">
                <p>
                  Ensure a better tomorrow of your business with the world-class
                  IT-enablement services by Durvah Consulting. The Innovation
                  centric company, Durvah is envisioned to bridge the gap
                  between information technology and everyday use cases of
                  commerce. We
                </p>
                <div class="section7-btn">
                  <a href="">
                    Click here <i class="fa-solid fa-circle-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <input type="radio" name="accordion" id="sixth" />
            <label for="sixth">AMS</label>
            <div class="content">
              <img
                src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
                alt=""
              />
              <div class="section7-btn7">
                <p>
                  Enter the world of high-performance mobile apps with
                  versatile, highly reliable, and super satisfying mobile
                  application development services by Durvah Consulting. We have
                  a passion for helping businesses go mobile. It lets you
                  increase the market reach for exponentially
                </p>
                <div class="section7-btn">
                  <a href="">
                    Click here <i class="fa-solid fa-circle-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>

          <li>
            <input type="radio" name="accordion" id="seventh" />
            <label for="seventh">QAD</label>
            <div class="content">
              <img
                src="https://cdn.prod.website-files.com/66b249c6e2cfdcc3c7dabfa1/66bf5f23222a498277a93add_Image%203-p-800.jpg"
                alt=""
              />
              <div class="section7-btn7">
                <p>
                  Harness the power of QAD and unlock the potential of your
                  manufacturing business. As a Service Partner of QAD, Durvah
                  Consulting is delighted to extend its scope of expertise with
                  one of the most mature and oldest products for ERP within
                  manufacturing business space. Bring in the highly efficient
                  and easy to use quality platform services. Catalyze synthesis
                  of an immaculate end-to-end ERP solution with customizable
                  capabilities.
                </p>
                <div class="section7-btn">
                  <a href="">
                    Click here <i class="fa-solid fa-circle-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col" id="company">
            <img src="../assets/durvah-logo.png" alt="" class="logo" />
            <p>
              We are specialized in designings, make your business a brand. Try
              our premium services.
            </p>
            <div class="social">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>

          <div class="col" id="services">
            <h3>Services</h3>
            <div class="links">
              <a href="#">Illustration</a>
              <a href="#">Creatives</a>
              <a href="#">Poster Design</a>
              <a href="#">Card Design</a>
            </div>
          </div>

          <div class="col" id="useful-links">
            <h3>Links</h3>
            <div class="links">
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Our Policy</a>
              <a href="#">Help</a>
            </div>
          </div>

          <div class="col" id="contact">
            <h3>Contact</h3>
            <div class="contact-details">
              <i class="fa fa-location"></i>
              <p>
                4th Cross Rd, 2nd Block, Jaya Nagar East, Jayanagar, Bengaluru,
                Karnataka 560004
              </p>
            </div>
            <div class="contact-details">
              <i class="fa fa-phone"></i>
              <p>+(91)9744535678</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form">
            <form action="">
              <input type="text" placeholder="Email here..." />
              <button><i class="fa fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </footer>

    <script src="../public/js/service.js"></script>
  </body>
</html>
